/* burger */
.hamburger {
    top:50%;
    width: inherit;
    height: 3px;
    background: #000;
    position: absolute;
    right: 0;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

/* Icon 1 */
.burger-icon {
    width: 40px;
    height: 24px;
    cursor: pointer;
    position: relative;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position:absolute;
    width: inherit;
    height: 3px;
    background:#000;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}

.burger-icon.active .hamburger {
    background:rgba(0,0,0,0);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.burger-icon.active .hamburger:before {
    top: 0;
    -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
            transform:rotate(45deg);
}

.burger-icon.active .hamburger:after {
    top: 0;
    -webkit-transform:rotate(135deg);
        -ms-transform:rotate(135deg);
            transform:rotate(135deg);
    -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.burger-dropdown {
	display: none;
}

.burger-dropdown {

}

.header-search form,
.header-right-dropdown  {
	width: fit-content;
}

.header-right-dropdown {
	margin: 0 auto;
}

.header-menu .menu {
    justify-content: center;
}

.header-menu .menu {
    padding: 0;
}

.burger-dropdown .info-block,
.burger-dropdown .header-top-row {
	flex-wrap: wrap;
}

.burger-dropdown .header-top-row {
	justify-content: center;
    border-radius: 10px;
    padding: 25px 10px 25px 10px;
}

.burger-dropdown .header-top-left,
.burger-dropdown .header-search {
	margin-bottom: 30px;
}

.burger-wrap {
    display: none;
    align-items: center;
}

.burger-wrap .header-lang {
    margin-right: 20px;
}
/* burger */

.news-item .card-body {
    padding: 17px 10px 37px 10px;
}

@media screen and (max-width: 1200px) {
	.container {
	    max-width: 1100px !important;
	}

	.header-left,
	.logo {
		width: 100%
	}

	.header-menu,
	.header-right,
	.header-top {
		display: none;
	}

    .burger-wrap,
    .logo {
        display: flex;
    }

    .logo {
        align-items: center;
        justify-content: space-between;
    }

    .header-left {
        flex: 100%;
    }

    .burger-dropdown .header-top-left {
        margin-bottom: 0
    }
}

@media screen and (max-width: 960px) {
	.banner-section-name {
        font: normal bold 36px/1.2px Gilroy;
        margin-bottom: 20px;
    }

    .banner-section-text {
        font: normal normal 20px/24px Gilroy;
    }

    .banner-section-left {
        padding: 30px 10px;
    }

    .mainPage-contacts-row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-menu-left,
    .footer-menu-right {
        flex-wrap: wrap;
    }

    .footer-logo {
        padding: 0px 20px !important;
    }

    .footer-row {
        align-items: center;
    }
}

@media screen and (max-width: 840px) {
	.banner-section-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-section-button-group .banner-button-next,
    .banner-section-button-group .banner-button-prev,
    .banner-section-button-group {
        display: block;
    }

    .banner-button-next,
    .banner-button-prev {
        display: none;
    }

    .banner-slider-arrow {
        position: inherit;
    }

    .banner-section-right {
        width: 100%;
    }
}

@media screen and (max-width: 760px) {
	
}

@media screen and (max-width: 560px) {
    .services-slider .swiper-slide-active img {
        min-height: inherit;
        max-width: initial;
    }

    .services-slider .swiper-slide-active {
        min-height: auto;
        height: auto;
        transition: all 0.3s ease 0s;
    }

    .services-slider .swiper-slide {
        max-width: initial;
        max-height: fit-content;
        overflow: hidden;
        transition: all 0.3s ease 0s;
    }
}

@media screen and (max-width: 480px) {
	.menu {
        flex-wrap: wrap;
        margin-top: 20px;
    }
    
    .header-menu .menu li {
        margin-bottom: 20px;
    }

    .info-block_item {
        margin-bottom: 20px;
    }

    .burger-dropdown .header-top-row {
        padding: 50px 10px 50px 10px;
    }
}